:root {
    --bg-color: #eae8e5;
    --text-color-dark: #656364;
    --text-color-gray: #b3b2b1;
    --primary: #eae8e5;
    /* --secondary: #e8e6e3; */
    --accent: #b3b2b1;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-dark);
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
        line-height: 22px;
    }
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--text-color-dark);
    transition: all ease-in 0.2s;
}

a:hover {
    color: #000;
}

img {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.main {
    padding: 100px 0;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* SECTION */
.section {
    width: 100%;
    min-height: 500px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(34, 60, 80, 0.2);
    /* scroll-snap-align: center; */
}

.section-col {
    display: flex;
    flex: 0 0 50%;
    padding: 40px;
}

.section-col--colored {
    background-color: var(--primary);
}

.section-col__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-col__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: -5px;
}

.section-col__socialsLink {
    width: 34px;
    height: 34px;
    display: inline-block;
    padding: 5px;
}

.section-col__stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: -5px;
}

.section-col__stackItem {
    width: 34px;
    height: 34px;
    display: inline-block;
    padding: 5px;
}

.section-col__photo {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.section-col__photo img {
    position: relative;
    object-fit: contain;
    z-index: 1;
}

.section-col__photoWrap {
    position: relative;
}

.section-col__photoWrap::after {
    content: '';
    position: absolute;
    top: 11px;
    right: -16px;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primary);
    z-index: 0;
}

.section-col__photoWrap::before {
    content: '';
    position: absolute;
    top: -17px;
    left: -15px;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primary);
    z-index: 0;
}

.section-col__image {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.section-col__image img {
    object-fit: contain;
}

.section-col__info {
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
}

.section-col__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
}

.section-col__subtitle {
    margin-bottom: 8px;
}

.section-col__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
}

.section-col__link {
    display: flex;
    gap: 4px;
}

.section-col__link svg {
    width: 20px;
    height: 20px;
}

.section-col__tech {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.section-col__tag {
    background-color: var(--accent);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 8px;
    padding: 5px 8px;
    user-select: none;
}

@media screen and (max-width: 767px) {
    .section {
        flex-direction: column;
    }

    .section-col {
        padding: 30px;
    }

    .section-col__image {
        width: 100%;
    }

    .section-col__info {
        gap: 24px;
    }

    .section-col__title {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 12px;
    }
}
/* SECTION */
